# Node modules
node_modules/

# Token di autenticazione Google
token.json

# File di configurazione locali
.env
env.txt

# File di log
logs/*
!logs/.gitkeep
*.log

# Client secret JSON
client_secret.json
